@media (max-width: 1024px) {
 .Card {
    width: 120px;
    height: 100px;
  }

  .Card #thing p {
    font-size: 16px;
  }

  .Card .image {
    font-size: 16px;
  }

  .Card button {
    width: 100px;
    height: 30px;
    font-size: 13px;
    margin-left: 10px;
  }

}
/* Box.css */

/* Base size */




@media (max-width: 768px) {
 #ProfileDiv{
   flex-direction: column;

 }
}